@import "syntax-variables";
@import "editor";
@import "plugins";

.syntax--comment {
  color: #67696d;
}

.syntax--keyword {
  color: #beb3f5;

  &.syntax--control {
    color: #a694ff;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--special-method {
    color: @blue;
  }

  &.syntax--other.syntax--unit {
    color: @orange;
  }
}

.syntax--storage {
  color: #beb3f5;
}

.syntax--constant {
  color: #fff;

  &.syntax--character.syntax--escape {
    color: @cyan;
  }

  &.syntax--numeric {
    color: #ff8633;
  }

  &.syntax--other.syntax--color {
    color: @cyan;
  }

  &.syntax--other.syntax--symbol {
    color: @green;
  }
}

.syntax--variable {
  color: #a2a2a2;

  &.syntax--interpolation {
    color: darken(@red, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: #c2c577;

  &.syntax--regexp {
    color: @cyan;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--class {
    color: #beb3f5;
  }

  &.syntax--function  {
    color: @cyan;

    &.syntax--any-method {
      color: @blue;
    }
  }

  &.syntax--type {
    &.syntax--property-name.syntax--css {
      color: #e3e6e3;
    }
  }

  &.syntax--other.syntax--namespace.syntax--php {
    color: #949494;
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: #fff;
  }

  &.syntax--name.syntax--type {
    color: #949494;
    text-decoration: none;
  }

  &.syntax--other.syntax--inherited-class {
    color: #ffffff;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: #fff;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    color: #ccc47f;
    text-decoration: none;
  }

  &.syntax--other.syntax--attribute-name {
    color: #beb3f5;

    &.syntax--id {
      color: @blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @light-orange;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: #ceda5c;
  }
}

.syntax--keyword.syntax--other.syntax--important.syntax--css {
  color: #ff0000;
}

/**
 * YAML Styles
 */
.syntax--string.syntax--yaml {
  color: #9e9e9e;
}

/**
 * CSS Styles
 */
.syntax--css.syntax--constant {
  color: #848484;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: #e3e6e3;
}
