@import "syntax-variables";
@import "editor";
@import "plugins";

.comment {
  color: #67696d;
}

.keyword {
  color: #beb3f5;

  &.control {
    color: @purple;
  }

  &.operator {
    color: @syntax-text-color;
  }

  &.other.special-method {
    color: @blue;
  }

  &.other.unit {
    color: @orange;
  }
}

.storage {
  color: #beb3f5;
}

.constant {
  color: #fff;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: #ff8633;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @green;
  }
}

.variable {
  color: #a2a2a2;

  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @syntax-text-color;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: #c9ce54;

  &.regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @light-gray;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.class {
    color: #beb3f5;
  }

  &.function  {
    color: @cyan;

    &.any-method {
      color: @blue;
    }
  }

  &.type {
    &.property-name.css {
      color: #e3e6e3;
    }
  }

  &.other.namespace.php {
    color: #949494;
  }
}

.entity {
  &.name.function {
    color: #fff;
  }

  &.name.type {
    color: #949494;
    text-decoration: none;
  }

  &.other.inherited-class {
    color: @green;
  }

  &.name.class, &.name.type.class {
    color: #fff;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: #ccc47f;
    text-decoration: none;
  }

  &.other.attribute-name {
    color: #beb3f5;

    &.id {
      color: @blue;
    }
  }
}

.meta {
  &.class {
    color: @light-orange;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @blue;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @ceda5c;
  }
}

.keyword.other.important.css {
  color: #ff0000;
}

.string.yaml {
  color: #9e9e9e;
}

.support.type.property-name.css {
  color: #e3e6e3;
}
